{% extends 'BASE.html' %}
{% block title %}Reservation Management{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center mt-4">
        <div class="col-12 border border-1 border-secondary p-4 rounded">
            <div><p>Reservation Information</p></div>
            {% if messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% for message in messages %}
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post" action="{% url 'management_rsv_detail' reservation.id %}" class="form-horizontal">

                {% csrf_token %}
                <div class="row">
                    {% for field in form %}
                        <div class="col-md-3 mb-3">
                            <label for="{{ field.id_for_label }}" class="col-form-label">
                                {{ field.label }}
                            </label>
                            {{ field }}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% if field.errors %}
                                <div class="alert alert-danger">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="col-md-3 mt-4">
                            <button type="submit" class="btn btn-primary"> OK</button>
                            <button type="button" class="btn btn-secondary"
                                    onclick="window.location='{% url 'management_room_list' %}'; return false;"> Cancel
                            </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}