{% extends 'BASE.html' %}
{% block title %}
    User Management
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center mt-4">
        <div class="col-md-6 border border-1 border-secondary p-4 rounded">
            <div><h3>Reset user {{ object.username }}'s password</h3></div>
            <form method="post" action="{% url 'management_usr_password' edited_user.id %}" class="form-horizontal">

                {% csrf_token %}

                    <div class="col-md-12 mb-3 ">
                        <label for="{{ form.password1.id_for_label }}" class="col-form-label">
                            {{ form.password1.label }}
                        </label>
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="alert alert-danger">{{ form.password1.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="col-md-12 mb-3 ">
                        <label for="{{ form.password2.id_for_label }}" class="col-form-label">
                            {{ form.password2.label }}
                        </label>
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <div class="alert alert-danger">{{ form.password2.errors }}</div>
                        {% endif %}
                    </div>


                <div class="col-md-12 mb-3">
                    <button type="submit" class="btn btn-primary"> OK </button>
                    <button type="button" class="btn btn-secondary"
                            onclick="window.location='{% url 'management_usr_detail' edited_user.id %}'; return false;"> Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}