{% extends 'BASE.html'  %}

{% block title %}
    Register
 {% endblock %}

{% block content %}
    <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        Username: <input type="text" name="username"><br>
        Email:<input type="text" value="" placeholder="xx@gmail.com" name="email"><br>
        First Name: <input type="text" value="FirstName" name="firstname"><br>
        Last Name: <input type="text" value="LastName" name="lastname"><br>
        Password:<input type="password" name="password"><br>
        Password2:<input type="password" name="password2"><br>
        <input type="submit" value="Register">
    </form>
{% endblock %}