{% extends 'BASE.html' %}
{% block title %}Available Room List{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <form method="GET" action="{% url 'booking_step1' %}">
                    {% csrf_token %}
                    <div class="row col-sm-12 mt-4"><p>Pick your CheckIn and CheckOut date and time.</p></div>
                    <div>
                        Check In :<input type="datetime-local" name="startDT" value="{{ startDT }}">
                        Check Out:<input type="datetime-local" name="endDT" value="{{ endDT }}">
                        <input class="btn btn-primary" type="submit" value="Check Available">
                    </div>
                </form>
                <div>
                    <strong>{{ object_list.count }} rooms are available.</strong>
                </div>
            </div>

            <div class="col-12 text-center">
                <table class="col-12 table table-striped mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Room Number</th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for room in object_list %}
                        <tr>
                            <td>{{ room.title }}</td>
                            <td>{{ room.room_number }}</td>
                            <td>{{ room.desc }}</td>
                            <td>
                                {% if startDT and endDT %}
                                <a href="{% url 'booking_step2' room.id startDT endDT %}" class="btn btn-primary">Pick Me &gt;</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}